.start-game-button{
	background-color: #81b5cc;
	padding: 3rem;
	padding-top: 1.5rem;
	padding-bottom: 1.7rem;
	border-radius: 0.6rem;
	border: none;
	font-size: 3rem;
	box-shadow: 3px 3px 5px #6c6d70;
}

.master-slider{
    width: 240px;

}

.sound-slider{
    width: 80px;
	height: 12px;
}
.not-reversed{
	background-color: #81b5cc;
	padding: 0.6rem;
	border-radius: 0.6rem;
	border: none;
	box-shadow: 3px 3px 5px #6c6d70;
}

.reversed{
	background-color: red;
	padding: 0.6rem;
	border-radius: 0.6rem;
	border: none;
	box-shadow: 3px 3px 5px #6c6d70;
}

.ball-button {
	background-color: rgb(137, 191, 191);
	padding: 0.6rem;
	border-radius: 0.6rem;
	border: none;
	box-shadow: 3px 3px 5px #6c6d70;
}

.steps-button {
	background-color: rgb(191, 187, 137);
	width: 1.5rem;
	height: 1.5rem;
	padding: 0.3rem;
	border-radius: 0.6rem;
	border: none;
	box-shadow: 3px 3px 5px #6c6d70;
}

.sound-bank-toggle{
	background-color: rgb(178, 204, 171);
	width: 1.5rem;
	height: 1.5rem;
	padding: 0.3rem;
	border-radius: 0.6rem;
	border: none;
	box-shadow: 3px 3px 5px #6c6d70;
}

.selected-sb {
	background-color: rgb(178, 204, 171);
	width: 1.5rem;
	height: 1.5rem;
	padding: 0.3rem;
	border-radius: 0.6rem;
	border: 1px solid red;
	box-shadow: 3px 3px 5px #6c6d70;
}

.start-button{
	background-color: rgb(112, 139, 172);
	padding: 0.6rem;
	border-radius: 0.6rem;
	border: none;
	box-shadow: 3px 3px 5px #6c6d70;
	font-size: 3rem;
}

.stop-button{
	background-color: rgb(112, 139, 172);
	padding: 0.6rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.8rem;
	border-radius: 0.6rem;
	border: none;
	box-shadow: 3px 3px 5px #6c6d70;
	font-size: 3rem;
}

button:hover {
	background-color: beige;
}

button:active {
	background-color: rebeccapurple;
}


input[type=range] {
	-webkit-appearance: none;
	display: block;
	height: 20px;
	padding: 0;
	border-radius: 4px;
	background: #6c6d70;
	box-sizing: content-box;
}

input[type=range] .slider{
	-webkit-appearance: none;
	display: block;
	height: 12px;
	padding: 0;
	border-radius: 4px;
	background: #6c6d70;
	box-sizing: content-box;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #81b5cc;
	border-radius: 25px;
	background: #81b5cc;
}

input[type=range]::-webkit-slider-thumb .sound-slider{
	-webkit-appearance: none;
	width: 20px;
	height: 12px;
	border: 2px solid #81b5cc;
	border-radius: 25px;
	background: #81b5cc;
}